TOKEN="ここにBotのトークン"
STRIPEKEY="Stripeのシークレットキー"
YMARTKEY="ystore.jpのキー"
MYSQLHOST="MySQLのホスト"
MYSQLPORT="MySQLのポート"
MYSQLUSER="MySQLのユーザー名"
MYSQLPASS="MySQLのパスワード"
MYSQLDB="MySQLのデータベース名"
TWITTERAPIKEY="TwitterのAPIキーです"
TWITTERSECRET="TwitterのAPI_Secretです"
TWITTERTOKEN="Twitterのアクセストークンです"
TWITTERTOKENSEC="Twitterのアクセストークンシークレットです"
TWITTERBEAR="TwitterのBearer Tokenです"
