[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py"}
python-dotenv = "*"
ujson = "*"
pytimeparse = "*"
aiomysql = "*"
stripe = "*"
orjson = "*"
tweepy = "*"
niconico = "*"
youtube-dl = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
