[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.0"
python-dotenv = "*"
ujson = "*"
pytimeparse = "*"
aiomysql = "*"
stripe = "*"
orjson = "*"
"tweepy[async]" = "*"
"niconico.py" = "*"
youtube-dl = "*"
jishaku = "*"
opencv-python = "*"
websockets = "*"
speedtest-cli = "*"
aiofiles = "*"
hashids = "*"
pyqrcode = "*"
nicovideo-api-client = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
discord-test = {git = "https://github.com/yaakiyu/discord-test"}
pyright = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
